.logo{
    width: 67px;
    color: yellow;
    margin-bottom: 4px;
}
.head{
    background-color: #F7F8F9;
}
.Field{
    width: 140px;
    height: 35px;
    border: 2px solid black;
    border-radius: 3px;
    margin-top: 8px;
}
.link{
    color: black;
    font-weight: bold;
    font-size: 17px;
margin-top: 12px;
text-decoration: underline;
}
.sell{
    width: 100px;
    margin-top: 4px;
    margin-left: 8px;
}
.inner{
    display: inline-block;
    margin-left: 60px;
}
.login{
    text-decoration: underline;
}
.head{
    height: 70px;
}
.listab{
    display: inline-block;
}
.lista .listab  :hover{
    color: lightblue;
}
.nn{
    font-family: Arial, Helvetica, sans-serif;
}
.adds{
    margin: auto;
    display: block;
}
.listv{
    display: flex;
}
.card{
    display: block;
    margin: auto;
}
@media only screen and (min-width: 1280px) {
    .card{
        width: 17rem;
    }
}

.nns{
    height: 216px !important;
    border: 2px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px lightgray;
}




@media only screen and (max-width: 600px) {
    .Field {
      display: none;
    }
    .bbs{
        margin: auto !important;
    }
    .login{
        display: none;
    }
    .cent{
        margin-top: 20px;
    }
    .tax{
        width: 300px !important;
    }
    
    .cate{
margin: auto;    }
    .sell{
        margin-top: -25px;
    }
    .insided{
display: none;
    }
    .newd{
        display: none;
    }
    .searchb{
        display: none;
    }
  }
  .tax{
      width: 700px;
      display: block;
      margin: auto;
  }
  
   .footera{
       background-color: #F7F8F9 !important;
   }
   .apple{
       font-size: 30px;
       color: white;
       margin-bottom: -14px !important;
   }
   .tex{
       color: white;
   }
   
   .texa{
 font-size: 11px;
    color: white;
}
.czx{
    background-color: black !important;
}
.insidea{
    margin-top: 50px;
    background-color: #F7F8F9 !important;
    border-left: 2px solid gray;
    padding-left: 19px;
}
.insideaz{
    margin-top: 50px;
    background-color: #F7F8F9 !important;
    
}
.footerb{
    background-color: #EBEEEF;
    border-top: 2px solid lightgray;
}
.la{
font-size: 13px;
color: gray;
text-decoration: none;
list-style: none;
}
.end{
    background-color: #002F34;
}
.asd{
    text-align: right;
    font-size: 13px;
}
.asa{
    font-size: 13px;
}
